// Specific CSS for your home-page

/* The hero image */
.hero-image {
  /* Linear-gradient" to add a darken background effect to the image */
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://res.cloudinary.com/dlxlmoq7d/image/upload/v1614015964/Yurt_tzoxbt.jpg);
  /* Set a specific height/width */
  height: 600px;
  width: 100%;
  border-radius: 50px 20px;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Header */
.header {
  padding: 50px 75px;
  text-align: center;
  background: rgba(164, 192, 196, 0.3);
  color: white;
  opacity: 0.9;
  font-size: 30px;
}

/* Text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.subheading-text {
  text-align: center;
  margin: 20px 30px 20px 30px;
}

/* Card Column */
* {
  box-sizing: border-box;
}

/* Remove extra left and right margins, due to padding in columns */
.row { justify-content: space-around; }

.featured {
  margin: 10px 40px 10px 40px;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

