/* put all the profile page css here */

.profile-container {
  margin: 40px 75px;
  padding: 0;
}

.profile-page-row {
  display: flex;
}


.profile-page-header {
  margin-top: 20px;
}

.profile-page-column {
  margin-left:20px;
}

.profile-page-row p {
  color: lightgray;
  font-size:10pt;
}

.details-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  margin-left: 20px;
}
