<div class="hero-image">
  <div class="hero-text">
    <h1>Rent a Yurt</h1>
    <p>Experience the best Yurts in the world</p>
    <button type="button" class="btn btn-light"><%= link_to 'Yurts', yurts_path %></button>
    <button type="button" class="btn btn-light"><%= link_to 'users sign in', new_user_session_path %></button>
    <button type="button" class="btn btn-light"><%= link_to 'new yurt', new_yurt_path %></button>
    <button type="button" class="btn btn-light"><%= link_to 'Add first name and last name', edit_user_registration_path %></button>
  </div>
</div>


