<div class="hero-image">
  <div class="hero-text">
    <h1>Rent a Yurt</h1>
    <p>Hire one</p>
    <%= link_to 'Yurts', yurts_path %>
    <br>
    <%= link_to 'bookings', bookings_path %>
    <br>
    <%= link_to 'users sign in', new_user_session_path %>
    <br>
    <%= link_to 'new yurt', new_yurt_path %>
  </div>
</div>


