.show-page {
  display:block;
}

.yurt-container{
  margin: 30px;

  display: flex;
}

.yurt-row{
  width: 55%;
  height: 100vh;
  display:flex;
  justify-content: flex-start;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

}

#yurt-image{
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 600px;
}

.yurt-card-text{
  display: block;
  margin: 20px;
  .yurt-title{
  h2{
     font-weight: bold;
  }
  }
  .capacity-cost{
    display:flex;
    justify-content: space-between;
     font-weight: bold;
    font-size: 20px;
  }

  .description{
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  .day-rate {
    font-weight: bold;
    font-size: 20px;
    width: 130px;
    display:flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: flex-end;
    margin-right: 10px;
    width: 100px;
    font-weight: bold;
    padding: 30px;
    }
}

.yurt-host-edit{
  display: block;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin: 50px;
  margin-left: 80px;
  margin-bottom: 300px;
  i, a{
    text-decoration: none;
    color: #42949E
  }
}

.card {
  padding: 20px;
  border-radius: 5px;
  // box-shadow: 1px 1px 1px 1px rgba(1,1,1,0.5);
  // margin-left: 10px;
}


.map-container{
  width: 40%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

}

.show-links{
  display:block;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 20px;
  margin-top: 200px;

  .btn {
  border: 0;
  background-color: #42949E;
  border-radius: 10px;
  padding: 10px 20px;
  color: #fff;
  font-weight: semi-bold;
  }
}

.link{
  text-decoration: none;
  color: #42949E;
  margin: 10px;

}
