.yield-container {
  min-height: 100vh;
}

// Footer
footer {
  padding: 10px 10px;
  background: rgb(222, 230, 231);
  height: auto;
}

/* Footer P*/
.list-inline, .copyright {
  text-align: center;
  color: rgba(1, 1, 1, 0.7);
  a {
    color: rgba(1, 1, 1, 0.7);
  }
}

.icons {
  text-align: center;
  color: #2D6B75;
  font-size: 1.2em;
  padding-right: 2em;
  text-shadow: 1px 1px 1px #ccc;
}

.yield-container {
  padding-top: 70px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.footer-grid-element-1 {
  display: grid;
  grid-column: 1;
}

.footer-grid-element-2 {
  display: grid;
  grid-column: 2;
}

.footer-grid-element-3 {
  display: grid;
  grid-column: 3;
}
