.simple_form label {
  font-size: 14px;
  color: rgba(1, 1, 1, 0.7);
}

.simple_form .btn {
  border: 0;
  background-color: #42949E;
  border-radius: 10px;
  padding: 10px 20px;
  color: #fff;
  font-weight: semi-bold;
}

