.simple_form label {
  font-size: 14px;
  color: rgba(1, 1, 1, 0.7);
}

.form-container {
  margin: 50px auto;
  width: 600px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 5px;
}

.form-container > img {
  width: 100%;
  border-radius: 5px;
}

.form-container h3 {
  margin-top: 10px;
}

.form-container p {
  margin: 0;
  opacity: 0.8;
  font-size: 10pt;
}

.form-yurt-description {
  margin-bottom: 5px;
}
