.mapboxgl-popup {
  max-width: 100px;
  max-height: 100px;
}

.mapboxgl-popup-content {
  text-align: center;
  position: cover;
  h4{
    font-size: 14px;
  }
}

.map-container{
  min-height: 100vh;
  width: 50%;
  border: none;
  position: sticky;
  top: 0;
  margin-top: 40px;

}

#map{
  position: sticky;
  top: 70px;
}

.map-container {
  display:flex;

  margin-top: 10px;
  border-radius: 5px;
  padding: 0;
}

.map {
    // position: sticky;
    // top: 100px;
    padding: 0;
  }


