.map-container {
  display:flex;
  align-items: center;
  margin-top: 40px;
  width: 40%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.map {
    position: cover;
  }

  .icon1, .icon2 {
    position:absolute;

  }
  .icon1{
    margin-left: 100px;
  }
  .icon2{
    margin-top: -700px;
    margin-left: 400px;
  }
