.map-container {
  display:flex;
  align-items: center;
  margin-top: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 0;
}

.map {
    position: cover;
    padding: 0;
  }

  .icon1, .icon2 {
    position:absolute;

  }
  .icon1{
    margin-left: 100px;
  }
  .icon2{
    margin-top: -700px;
    margin-left: 400px;
  }
