.map-container {
  display:flex;

  margin-top: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 0;
}

.map {
    position: sticky;
    top:0;
    padding: 0;
  }


