.navbar-lewagon {
  justify-content: space-around;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 0.4rem 0.5rem;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  transition: all 0.5s ease;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 48px;
  border-radius: 50px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

#navbarDropdown {
  width: 42px;
  border-radius: 50px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

#tent-dropdown {
  margin-left: 20px;
}

@media (min-width: 576px) {
  .navbar-expand-sm {
      flex-flow: row nowrap;
      justify-content: space-between;
  }
}

.navbar-lewagon-scrolled {
  background-color: transparent !important;
  transition: all 0.4s ease;
}
