// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


h1, h2, h3 {
  font-family: Raleway;
  font-weight: lighter;
}

body {
  font-family: Open Sans;
}

a {
  color: #fff;
}

a:hover {
  text-decoration: none;
  color: #fff;
  opacity: 0.8;
}
