// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


h1, h2, h3 {
  font-family: Raleway;
  font-weight: lighter;
}

body {
  font-family: Open Sans;
}

.btn {
  border: 0;
  background-color: #42949E;
  border-radius: 10px;
  padding: 10px 20px;
  color: #fff;
  font-weight: semi-bold;
  color: white;
  text-decoration: none;
}

a {
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}
