// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.form-container {
  margin: 50px auto;
  width: 600px;
  background-color: #fff;
  border: 1px solid rgba(66, 148, 158, 0.5);
  padding: 20px;
  border-radius: 5px;

}

a:hover {
  text-decoration: none;
}

h1, h2, h3 {
  font-family: Raleway;
  font-weight: lighter;
}

body {
  font-family: Open Sans;
}
