// booking card style
.booking-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: block;
  padding: 20px;
  border-radius: 5px;
  text-align: left;
  margin: 40px auto;
  max-width: 700px;
  background-color: #fff;
}

.booking-card img {
  width:100%;
}

// giving the card space
.booking-container {
  margin: 35px;
}

.booking-header{
  text-align: center;
}

.booking-yurt-details {
  margin-top: 10px;
}
